<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>All Parts List</title>
</head>
<body>
<h2>All Parts List</h2>
<table class="table table-striped" border="1px">
    <tr>
        <th>Part name</th>
        <th>Part price</th>
        <th>Quantity</th>
        <th>Supplier name</th>
        <th>For Delete</th>
    </tr>
    <tbody>
    <tr th:each="part:${partsList}">
        <td th:text="${part.name}"></td>
        <td th:text="${part.price}"></td>
        <td th:text="${part.quantity}"></td>
        <td th:text="${part.suppliers.name}"></td>
        <td><input type="checkbox" name="isDelete" value="${part.id}"></td>
    </tr>
    <tbody>
</table>
</body>
</html>