<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <title>Get Part by ID</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>Parts Information by Id</h2>
    </div>
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">
                <label for="partId" class="col-sm-2 col-form-label"><b>Part ID: </b> </label><span id ="partId" th:text="${parts.id}"></span>
            </li>
            <li class="list-group-item">
                <label for="partName" class="col-sm-2 col-form-label"><b>Part Name: </b> </label><span id ="partName" th:text="${parts.name}"></span>
            </li>
            <li class="list-group-item">
                <label for="partPrice" class="col-sm-2 col-form-label"><b>Part Price: </b> </label><span id ="partPrice" th:text="${parts.price}"></span>
            </li>
            <li class="list-group-item">
                <label for="partQuantity" class="col-sm-2 col-form-label"><b>Part Quantity: </b> </label><span id ="partQuantity" th:text="${parts.quantity}"></span>
            </li>
            <li class="list-group-item">
                <label for="supplName" class="col-sm-2 col-form-label"><b>Supplier name: </b> </label><span id ="supplName" th:text="${parts.suppliers.name}"></span>
            </li>
        </ul>

    </div>
</div>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/tether.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>